@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <video id="video" autoplay></video>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        var ws;
        var wsurl = "wss://192.168.41.98:443";
        //判断浏览器是否支持websocket和支持那种websocket
        function connection() {
            if (window.WebSocket) {
                ws = new WebSocket(wsurl);
            } else if (window.MozWebSocket) {
                ws = new MozWebSocket(wsurl);
            }
            else {
                alert("浏览器不支持websocket");
            }
            //注册websocket回调事件
            ws.onopen = function () {
                alert("链接服务器成功");
            }
            ws.onclose = function () {
                alert("断开服务器链接");
            }
            ws.onerror = function () {
                alert("数据传输错误");
            }
            ws.onmessage = function (msg) {
               alert(msg.data);
                //$("#video").src = msg.data;
            }
        }
        function sendmessage() {
            if (navigator.getUserMedia) {
                navigator.getUserMedia(
                {
                    audio: true,
                    video: true
                },
            function (stream) {
                var rec = new SRecorder(stream);
                recorder = rec;
            })
            }

            ws.send($("#txtvalue").val());
        }
    </script>
    <div>@ViewBag.msg</div>
    <input type="button" value="Connection" onclick="connection()" />
    <input type="text" id="txtvalue" />
    <input type="button" value="Send" onclick="sendmessage()" />
    <div id="showmsg">

    </div>
</body>
</html>
